<h2 class="table-header">Previous Shifts:</h2>
<div class="table-container">
  <table>
    <tr>
      <th>Clocked In:</th>
      <th>Clocked Out:</th>
      <th>Shift Duration:</th>
    </tr>
    <% current_user.shifts.each do |shift| %>
    <tr>
      <td><%= shift.time_in.strftime("%I:%M %p") %></td>
      <% if shift.time_out.nil? %>
        <td>Still active</td>
        <td> - </td>
      <% else %>
        <td><%= shift.time_out.strftime("%I:%M %p") %></td>
        <% duration = (shift.time_out - shift.time_in).to_i %>
        <td><%= Time.at(duration).utc.strftime("%H:%M:%S") %></td>
      <% end %>
    </tr>
  <% end %>
  </table>
</div>
